@page "/search"
@using DebounceThrottle
@using Newtonsoft.Json
@using Project.DTOs
@using Project.Services
@using System.ComponentModel.DataAnnotations
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage


@inject HttpClient Http
@inject IConfiguration _configuration
@inject IStocksServices _stockServices;
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject NavigationManager NavigationManager
<h3>Search</h3>

<EditForm Model="@data" OnValidSubmit="@OnValidSearchSubmit">
    <DataAnnotationsValidator />
    <div>
        <label class="example-label">Select a company (Ticker symbol) </label>
        @*<label>
        Demonstration of equivalent HTML binding:
        <input value="@InputValue"
        @onchange="@((ChangeEventArgs __e) => InputValue = __e?.Value?.ToString())" />
        </label>
        <lable>
            @data.ticker
        </lable>*@
        <SfAutoComplete TValue="string" TItem="string" @oninput="@((ChangeEventArgs __e) => @GetAutoComlleteListAsync(__e))"
                        @bind-Value="data.ticker" Placeholder="e.g. TSLA" DataSource="@resultList">
            <AutoCompleteFieldSettings Value="ticker"></AutoCompleteFieldSettings>
        </SfAutoComplete>
    </div>
    <div class="submit-btn">
        <div class="rounded-2">
            <SfButton style="width:100px; height:35px;-webkit-text-fill-color:white; border-color:rebeccapurple; background-color:rebeccapurple"
                      type="submit" IsPrimary="true">Submit</SfButton>
        </div>
    </div>
</EditForm>
<div class="rounded-2">
        <SfButton style="width:100px; height:35px;-webkit-text-fill-color:white; border-color:rebeccapurple; background-color:rebeccapurple"
                  IsPrimary="true" @onclick="@AddToWatchlist">+</SfButton>
</div>
<div class="rounded-2">
        <SfButton style="width:100px; height:35px; position:relative; top:-35px; left:105px; -webkit-text-fill-color:white; border-color:rebeccapurple; background-color:rebeccapurple"
                  IsPrimary="true" @onclick="@NavigateToWatchlistPage">Watchlist</SfButton>
</div>


@if (@ChartShown)
{
    <div>
        <p>
            <img style="width:70px; height:70px;" src="@comp.Logo" alt="Logo"/>
        </p>
        <p>
            <label class="example-label" style="position:relative; top:-90px; left:105px">Symbol: @comp.Symbol</label>
        </p>
        <p>
            <label class="example-label" style="position:relative; top:-50px; left:105px">Url: @comp.Url</label>
        </p>
        <p>
            <label class="example-label" style="position:relative; top:-180px; left:305px">Address: @comp.HqAddress</label>
        </p>
        <p>
            <label class="example-label" style="position:relative; top:-140px; left:305px">Active: @comp.Active</label>
        </p>
    </div>
    
    <div class="control-section">
        <div>
            <SfStockChart @ref="chart" EnablePeriodSelector="true" EnableSelector="false" EnableCustomRange="false">
                <StockChartEvents PeriodChanged="@((StockChartPeriodChangedEventArgs __e) => @PeriodChange(__e))"></StockChartEvents>
                <StockChartPeriods>
                    <StockChartPeriod IntervalType=RangeIntervalType.Days Interval="1" Text='Prev Day'  ></StockChartPeriod>
                    <StockChartPeriod IntervalType=RangeIntervalType.Weeks Interval="1" Text='1 Week' Selected="true"></StockChartPeriod>
                    <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="1" Text='1 Month' ></StockChartPeriod>
                    <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="3" Text='3 Months'></StockChartPeriod>
                </StockChartPeriods>
                <StockChartPrimaryXAxis IntervalType="@XAxisInterval">
                </StockChartPrimaryXAxis>
                <StockChartSeriesCollection>
                    <StockChartSeries  DataSource="@DataSource" Type="ChartSeriesType.HiloOpenClose" XName="Date" High="High" Low="Low" Open="Open" Close="Close" Volume="Volume"></StockChartSeries>
                </StockChartSeriesCollection>
            </SfStockChart>
        </div>
    </div>
}
<style>
    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .submit-btn {
        display: flex;
        justify-content: center;
        padding: 20px 0px 0px;
    }
</style>

@*<SfAutoComplete TValue="string" TItem="EmployeeData" Placeholder="Select a Employee" Query="@RemoteDataQuery">
    <SfDataManager Url="https://ej2services.syncfusion.com/production/web-services/api/Employees" Offline=true Adaptor="Adaptors.WebApiAdaptor" CrossDomain=true></SfDataManager>
    <AutoCompleteFieldSettings Value="FirstName"></AutoCompleteFieldSettings>
</SfAutoComplete>*@
@*<SfAutoComplete TValue="string" TItem="Data" Placeholder="e.g. TSLA" Query="@RemoteDataQuery" Autofill="true">
    <SfDataManager Url="@Url" CrossDomain="true" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <AutoCompleteFieldSettings Value="ticker" />
</SfAutoComplete>*@

@code {
    //public Query RemoteDataQuery = new Query().Select(new List<string> { "ticker" }).Take(6).RequiresCount();
    //public tickers = res.results.Select(x => x.ticker).toList();
    //public Query Query = new Query().Select(new List<string> { "FirstName" }).Take(6).RequiresCount();
    //public string Url = $"https://api.polygon.io/v3/reference/tickers?search={InputValue}&active=true&sort=ticker&order=asc&limit=100";
    private SfStockChart chart = new SfStockChart();
    private bool ChartShown { get; set; } = false;
    private string? InputValue { get; set; }
    //private string? SearchResult { get; set; }
    private DebounceDispatcher debounceDispatcher { get; set; } = new DebounceDispatcher(2000);
    public string LocalStorageQueryKey { get; set; } = "Access Token";
    public string LocalStorageQueryValue { get; set; }
    private StockChartPeriod SelectedPeriod = new StockChartPeriod();
    private IntervalType XAxisInterval = new IntervalType();
    private class Data
    {
        public string ticker;
    }
    private class CompanyInfo
    {
        public string Logo { get; set; }
        public string Symbol { get; set; }
        public string Url { get; set; }
        public string HqAddress { get; set; }
        public bool Active { get; set; }
        public override string ToString()
        {
            return JsonConvert.SerializeObject(this);
        }
    }
    private CompanyInfo comp = new CompanyInfo();
    private Data data = new Data();
    private List<string> resultList = new List<string>();
    private List<string> tickerList = new List<string>();

    private async Task GetValueAsync()
    {

        var result = await ProtectedLocalStorage.GetAsync<string>(LocalStorageQueryKey);

        if (result.Success)
        {
            LocalStorageQueryValue = result.Value;
            Console.WriteLine($"val: {LocalStorageQueryValue}");
        }
    }
    private async void PeriodChange(StockChartPeriodChangedEventArgs __e)
    {
        var span = __e.Periods.First(x => x.Selected == true);
        SelectedPeriod.IntervalType = span.IntervalType;
        SelectedPeriod.Interval = span.Interval;
        if(SelectedPeriod.IntervalType.Equals(RangeIntervalType.Months))
        {
            XAxisInterval = IntervalType.Days;
        }
        else if(SelectedPeriod.IntervalType.Equals(RangeIntervalType.Days))
        {
            XAxisInterval = IntervalType.Hours;
        }
        await ChartInitialize();

    }
    protected override void OnInitialized()
    {
        SelectedPeriod.IntervalType = RangeIntervalType.Weeks;
        XAxisInterval = IntervalType.Days;
        SelectedPeriod.Interval = 1;
    }
    public async Task GetAutoComlleteListAsync(ChangeEventArgs __e)
    {
        await debounceDispatcher.DebounceAsync(async () =>
        {
            InputValue = __e?.Value?.ToString();
            string url = $"https://api.polygon.io/v3/reference/tickers?search={InputValue}&active=true&sort=ticker&order=asc&limit=100";
        //Console.WriteLine(url);
            if (InputValue == null)
            {
                url = $"https://api.polygon.io/v3/reference/tickers?&active=true&sort=ticker&order=asc&limit=100";
            }
            resultList = await _stockServices.GetCompaniesAsync(url);
        //tickerList.AddRange(resultList.Except(tickerList));
            tickerList = resultList;
        });
        return;
    }
    private async void OnValidSearchSubmit()
    {
        //SearchResult = InputValue;
        //Console.WriteLine(ChartShown); 

        await ChartInitialize();
        await GetDashboard();
        StateHasChanged();
        //Console.WriteLine(ChartShown);
    }
    private async Task GetDashboard()
    {
        comp = await Http.GetFromJsonAsync<CompanyInfo>($"http://localhost:5158/api/stocks/company?symbol={data.ticker}");
        Console.WriteLine($"comp: {comp}");
    }
    // Chart
    private List<StockChartData> DataSource;
    public class StockChartData
    {
        public DateTime Date { get; set; }
        public Double Open { get; set; }
        public Double Low { get; set; }
        public Double Close { get; set; }
        public Double High { get; set; }
        public Double Volume { get; set; }
        public override string ToString()
        {
            return JsonConvert.SerializeObject(this);
        }
    }
    private async Task ChartInitialize()
    {
        //Console.WriteLine($"chart: {data.ticker}");


        //Console.WriteLine($"token: {LocalStorageQueryValue}");
        //Console.WriteLine($"{SelectedPeriod.IntervalType}");
        
        DataSource = await Http.GetFromJsonAsync<List<StockChartData>>(
            $"http://localhost:5158/api/stocks/timeSpan?symbol={data.ticker.ToUpper()}&timeSpan={SelectedPeriod.IntervalType}&multiplier={SelectedPeriod.Interval}");
        //Console.WriteLine($"Count: {DataSource.Count}");
        //Console.WriteLine($"Start:");
        if(ChartShown)
        {
            //Console.WriteLine($"show");
            chart.UpdateStockChart();

        }
        if(ChartShown == false)
        {

            ChartShown = true;
        }
        StateHasChanged();
    }
    private async void AddToWatchlist()
    {
        await GetValueAsync();
        string userToken = LocalStorageQueryValue;
        Console.WriteLine($"ticker: {data.ticker}");
        await _stockServices.AddToWatchlist(data.ticker, userToken);
        Console.WriteLine("Added");
    }
    private void NavigateToWatchlistPage()
    {
        NavigationManager.NavigateTo("http://localhost:5158/watchlist", true);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await GetValueAsync();
            Http.DefaultRequestHeaders.Add("Authorization", $"Bearer {LocalStorageQueryValue}");
        }
        
        
    }
}